@model List<TicketManagementSystem.DTOs.Ticket.TicketListDto>;


@{
    ViewData["Title"] = "Dashboard";
    var total = Model.Count();
    var open = Model.Count(t => t.Status == "Open");
    var inProgress = Model.Count(t => t.Status == "In Progress");
    var closed = Model.Count(t => t.Status == "Closed");
    var recentRequests = ViewBag.RecentRequests;
}

<div class="container-fluid mt-4">
    
    <div class="row">

        <div class="col-md-3">
            <a href="/Home/GetTicketByStatusId?id=1" style="text-decoration: none;">
            <div class="card text-white bg-primary mb-3">
                <div class="card-body" >
                    <h5 class="card-title">Open Tickets</h5>
                    <h2>@open</h2>
                </div>
            </div>
            </a>
        </div>

        <div class="col-md-3">
            <a href="/Home/GetTicketByStatusId?id=3" style="text-decoration: none;">
            <div class="card text-white bg-success mb-3">
                <div class="card-body">
                    <h5 class="card-title">In Progress</h5>
                    <h2>@inProgress</h2>
                </div>
            </div>
            </a>
        </div>

        <div class="col-md-3">
            <a href="/Home/GetTicketByStatusId?id=2" style="text-decoration: none;">
            <div class="card text-white bg-warning mb-3">
                <div class="card-body">
                    <h5 class="card-title">Closed</h5>
                    <h2>@closed</h2>
                </div>
            </div>
            </a>
        </div>

        <div class="col-md-3">
            <a href="/Ticket/Index" style="text-decoration: none;">
            <div class="card text-white bg-danger mb-3">
                <div class="card-body">
                    <h5 class="card-title">Total</h5>
                    <h2>@total</h2>
                </div>
            </div>
            </a>
        </div>

    </div>
    <div class="row mt-4">

        <div class="col-md-3">
            <div class="card p-3">
                <h5>Tickets by Status</h5>
                <canvas id="statusChart"></canvas>
            </div>
        </div>

        <div class="col-md-8">
            <div class="card p-3">
                <h5>Tickets by Priority</h5>
                <table class="table table-bordered table-hover mt-3">
                    <thead class="table-light">
                        <tr>
                            <th>S.N</th>
                            <th>Ticket No</th>
                            <th>Title</th>
                            <th>Priority</th>
                            <th>Status</th>
                            <th>Created</th>
                        </tr>
                    </thead>

                    <tbody>
                        @{
                            var priorityList = ViewBag.TicketsByPriority;
                            var i = 1;
                        }

                        @foreach (var ticket in priorityList)
                        {
                            <tr>
                                <td>@i</td>
                                <td>@ticket.TicketNo</td>
                                <td>@ticket.Title</td>

                               
                                <td>
                                    @if (ticket.Priority == "High")
                                    {
                                        <span class="badge bg-danger">High</span>
                                    }
                                    else if (ticket.Priority == "Medium")
                                    {
                                        <span class="badge bg-warning text-dark">Medium</span>
                                    }
                                    else
                                    {
                                        <span class="badge bg-success">Low</span>
                                    }
                                </td>

                         
                                <td>
                                    @if (ticket.Status == "Open")
                                    {
                                        <span class="badge bg-primary">Open</span>
                                    }
                                    else if (ticket.Status == "Closed")
                                    {
                                        <span class="badge bg-secondary">Closed</span>
                                    }
                                    else
                                    {
                                        <span class="badge bg-success text-dark">In Progress</span>
                                    }
                                </td>

                                <td>@ticket.CreatedDate</td>
                            </tr>

                            i++;
                        }
                    </tbody>
                </table>
               @*  <canvas id="priorityChart"></canvas> *@
            </div>
        </div>

    </div>

    <div class="card mt-4">

        <div class="card-header">
            <h5>Recent Tickets</h5>
        </div>

        <div class="card-body">
            <div class="row">
            @{
                var index = 1;
            }
            <table class="table table-bordered table-hover">

                <thead class="table-light">
                    <tr>

                        <th>S.N</th>
                        <th>Ticket No</th>
                        <th>Title</th>
                        <th>Status</th>
                        <th>Priority</th>
                        <th>Assigned To</th>
                        <th>Created</th>
                        <th>CreatedOn</th>

                    </tr>
                </thead>
             
                <tbody>
                    @foreach (var request in recentRequests)
                    {
                        <tr>
                            <td>@index</td>
                            <td>@request.TicketNo</td>
                            <td>@request.Title</td>
                             <td>
                                @if(request.Status == "Open")
                                {
                                    <span class="badge bg-primary">@request.Status</span>
                                }
                                else if(request.Status == "Closed")
                                {
                                    <span class="badge bg-secondary">@request.Status</span>
                                }
                                else
                                {
                                    <span class="badge bg-success">@request.Status</span>
                                }
                                </td>
                                <td>
                                    @if (request.Priority == "High")
                                    {
                                        <span class="badge bg-danger">@request.Priority</span>
                                    }
                                    else if (request.Priority == "Medium")
                                    {
                                        <span class="badge bg-warning">@request.Priority</span>
                                    }
                                    else
                                    {
                                        <span class="badge bg-primary">@request.Priority</span>
                                    }

                                    
                                </td>
                            <td>@request.AssignedToFullName</td>
                            <td>@request.CreatedByFullName</td>
                            <td>@request.CreatedDate</td>
                        </tr>
                            index++;
                        }
                    

                </tbody>

            </table>


            <div class="modal fade" id="createTicketModal" tabindex="-1" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content" id="createTicketModalContent">
                       
                    </div>
                </div>
            </div>

        </div>
        </div>

    </div>

</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

@section Scripts {
    <script src="~/js/ticket.js"></script>
}

